:root {
    --color1: #1B4D3E;
    --color2: #17B169;
    --color3: #ACE1AF;
}


* {
    margin: 0;
    padding: 0;


    box-sizing: border-box;

    background-color: var(--color1);
    color: var(--color2);  



    font-family: 'Lexend', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}












.container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

}


.title {
    font-size: 7vh;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color2);
    text-decoration: underline;
    font-weight: 700;
    text-shadow: 2.5px 2.75px var(--color3);
}









.data {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2rem 3rem;
    border: 3px dashed var(--color3);
    border-radius: 10px;
}





.media {
    padding: .75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2vh;
    font-weight: bold;
    border: 2px solid var(--color2);
    border-radius: 10px;
}


.fileName {
    float: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.fileName:hover {
    text-decoration: line-through;
    font-weight: bolder;
    cursor: pointer;
}


.downloadBtn {
    float: right;
    background-color: var(--color2);
    color: var(--color3) !important;
    border: 1px solid var(--color3);
    cursor: pointer;
    border-radius: 10px;
    padding: 1.5rem;
    font-weight: bold;
}


.downloadBtn:hover {
    background-color: var(--color3);
    color: var(--color2) !important;
    font-weight: bolder;
}











.upload-btn-container {
    margin-top: 2rem;  
    border: 2px solid var(--color3);
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5vh;
}



.file {
    font-size: 1.5vh;
    
}

.file::file-selector-button {
    background-color: var(--color2);
    color: var(--color3) !important;
    border-radius: 10px;
    padding: 1rem 2rem;
}


.file::file-selector-button:hover {
    background-color: var(--color3);
    color: var(--color2) !important;
    font-weight: bolder;
    cursor: pointer;
}


.upload-btn {
    background-color: var(--color2);
    color: var(--color3) !important;
    border-radius: 10px;
    padding: 1rem 2rem; 
    font-size: 1.5vh;   
}


.upload-btn:hover {
    background-color: var(--color3);
    color: var(--color2) !important;
    font-weight: bolder;
    cursor: pointer;
}